
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
   color: #242424;
   text-align: center;
   line-height: 1.25; 
}

h1 {
    font-size: 36px;
    font-weight: 700;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

i:hover {
    opacity: 0.5;
}


.link__hover-effect:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -3px;
    right: 0;
    transition: width 300ms ease;
}

.link__hover-effect--white::after {
    background-color: #fff;
}
.link__hover-effect--black::after {
    background-color: #000;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.container {
    padding: 50px 0px;
}


.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

.text--purple {
    color: #6030b1;
}

#Languages {
    background-color: #f8f8f8;
}

.section-title {
   margin-bottom: 30px;
}

/*Navigation Bar Styles*/

nav {
    height: 100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.nav__link--list {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.nav__link--anchor {
    margin: 0 12px;
    color: black;
    font-weight: 700;
}

.nav__link--anchor-primary {
    padding: 8px 20px;
    background-color: #6030b1;
    color: white;
    border-radius: 50px;

} 

.nav__link--anchor-primary:hover {
    background-color: #7d4ed8;
    transition: background-color 0.3s ease;
}

.personal__logo {
   font-size: 24px;
   color: #6030b1;
   margin: 0 12px;
   font-weight: bold;
}

/*About Me Section Styles*/

.about-me__info {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;

}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 16px;
    animation: animate-profile-picture 800ms 600ms backwards;
}

@keyframes animate-profile-picture {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
.about-me__picture--mask img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.about-me__info--title {
   margin-bottom: 16px;
   animation: fade-up 650ms 600ms backwards;
}

.about-me__info--paragraph {
   font-size: 20px;
   margin-bottom: 28px;
    animation: fade-up 650ms 700ms backwards; 
}

.about-me__link {
   font-size: 20px;
    color: #242424;
    padding: 0 16px;
    animation: fade-up 650ms 800ms backwards;
}


@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.wave {
    display: inline-block;
    animation: animate-wave 1000ms infinite ease-in-out;
    transform-origin: 70% 70%;
    
}

@keyframes animate-wave {
    0% {
        transform: rotate(0deg);
    }
    
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me__img {
    max-width: 100%;
}

/* Tech Stack*/

.Language__img {
    display: flex;
    flex-direction: column;
    align-items: center;
 width: 25%;
 transition: all 300ms ease;
}

.Language__img:hover {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(1.1);
}

.Language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.Language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.Language-List {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
 
}

.Language__name {
    font-weight: 700;
    font-size: 25px;
    opacity: 0;
    transition:  all 300ms ease;
    transform: scale(0.6);
}

.Language__img:hover .Language__name {
  opacity: 1;  
}

/* Projects Section */

.project {
    margin-bottom: 135px;
}

.project :last-child {
    margin-bottom: 40px;
}

.project__img {
    width: 100%;
    transition: 500ms ease;
}

.project__wrapper {
   display:flex;
   box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
   border-radius: 20px;
   overflow: hidden;
   position: relative;
}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
    
}

.project:hover .project__wrapper:before {
    opacity: 0.8;
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}


.project__list {
    padding-top: 40px;
}

.project__description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    max-width: 550px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
    
}

.project:hover .project__description {
    opacity: 1;
    transform: translate(-50%, -50%);
  
}

.project__description--title {
    font-size: 40px;
}

.project__description--para {
   margin: 16px 0;
}

.project__description--para {
    display: none;
}

.project__description--link {
    font-size: 20px;
    margin: 16px;
    text-decoration: none;
}

.project__description--title,
 .project__description--para,
  .project__description--sub-title,
   .project__description--link {
    text-align: left;
    color: #fff;
}

/* Footer */

footer {
    background-color: #030303;
}

.footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    width: 100%;
    justify-content: space-around;
   margin-bottom: 20px;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0;
}

.footer__logo--image {
    width: 140px;
    height: 140px;
    color: #fff;
}

.fas.fa-arrow-up, .top {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    align-items: center;
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
    color: #fff;
    margin-top: 16px;
    align-items: center;
}

.footer__logo--popper {
 position: absolute;
 right: 0;
 top: 10px;
 font-weight: 700;
 opacity: 0;
 transition: all 300ms ease;
}

.footer__anchor {
  margin-bottom: 20px;
  position: relative;
}

.footer__anchor:hover .footer__logo--popper{
    opacity: 1;
    transform: translateX(60px);
}

/* Small Phones and Tablets, Large Smart Phones */

@media  (max-width: 768px) {
    .nav {
        height: 68px;
    }

    h1 {
        font-size: 28px;
    }

    .about-me__info--paragraph {
        font-size: 16px;
    }

    .Language__img {
        width: calc(100% / 2);
    }

    .project__description--title {
        font-size: 28px;
    }

    .project__description--para {
        font-size: 18px;
    }

    .project__description {
        left: 10%;
        right: 10%;
        max-width: none;
        padding-right: 0;
        height: 50%;
    }
}

/* Small Phones */

@media (max-width: 480px) {
    .nav__link:not(:last-child) {
        display: none;
    }

    .project__description {
        padding: 0;
        left: 50%;
        right: auto;
        width: 80%;
        max-width: 80%;
    }


    .project__description--para {
        display: none;
    }

    .project__description--links {
        display: flex;
        justify-content: center;
    }

    .project__description--sub-title {
        text-align: center;
        margin: 12px 0;
    }

}

.project__description--links {
    display: flex;
  justify-content: center;
}

.project__description--title {
  text-align: center;
  font-size: 32px;
  line-height: 1;
}

 .Language {
        width: calc(100% / 2);
    }
    







